
<div id="TabFilmes">
    @foreach (var item in ViewBag.Filmes)
    {
        <a href="/Home/Details/@item.IdFilme">
            <img src="~/Fotos/@item.Foto" width="250" height="370" style="border:0px;margin:10px" />
        </a>
    }
</div>
