@model IEnumerable<CinemaX.Models.Filme>

@{
    ViewData["Title"] = "Cartaz";
}

<h1>Cartaz</h1>

@foreach (var item in Model)
{
<a href="/Home/Details/@item.IdFilme">
    <img src="~/Fotos/@item.Foto" width="250" height="370" style="border:0px;margin:10px" />
</a>
    }








    
