@model IEnumerable<CinemaX.Models.Filme>

@{
    ViewData["Title"] = "Cartaz";
}


<p style="text-align:center;"> 
    <img src="~/FotosSite/Logo.png" width="450" height="150" />
    <br />
    <br />
    <i> <font face="Bebas Neue" size="20px" color="#FFFFF">EM DESTAQUE:</font></i>  
</p>  




    @foreach (var item in Model)
    {
        <a href="/Home/Details/@item.IdFilme">
            <img src="~/Fotos/@item.Foto" width="250" height="370" style="border:0px;margin:10px" />
        </a>
    }









