@model CinemaX.Models.Utilizador
@{
    ViewData["Title"] = "Convidar Utilizador";
    Layout = "~/Views/Shared/_LayoutBackOfiice.cshtml";
}

<div class="mydiv">
    <h1> <i> <font face="Bebas Neue" color="black">ADICIONAR UM UTILIZADOR</font></i></h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label >Username</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Perfil.Email" class="control-label"></label>
                    <input asp-for="Perfil.Email" class="form-control" />
                    <span asp-validation-for="Perfil.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label >Grupo</label>
                    <select asp-for="IdGrupo" class="form-control" asp-items="ViewBag.IdGrupo"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
    <div>
        <a asp-action="UserList" style="color:black;">Voltar</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
