@model IEnumerable<CinemaX.Models.Categorium>


@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutBackOfiice.cshtml";
}

<div class="mydiv">
    <h1> <i> <font face="Bebas Neue" color="black">GESTOR CATEGORIAS</font></i></h1>
    Nome da categoria:
    <form asp-action="AddCategory" data-ajax="true"
          data-ajax-method="post" data-ajax-mode="replace"
          data-ajax-update="#Tabela" data-ajax-success="sucesso">
        <input id="inp" type="text" name="NewName" />
        <input type="submit" value="Adicionar" class="btn btn-primary" style="margin-left:5px; margin-bottom:5px;" />
    </form>

    <partial name="CategoryListPartial" model="Model" />
</div>
@section Scripts{
    <script>
        function sucesso() {
            $("#inp").val("");
        }
    </script>
}