@model CinemaX.Models.Utilizador

        <form asp-action="EditUser" data-ajax="true" data-ajax-method="post"
      data-ajax-update="#Col_@Model.IdUtilizador" data-ajax-mode="replace">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="UserPassWord" />
            <input type="hidden" asp-for="ActivationCode" />
            <input type="hidden" asp-for="IdUtilizador" />
            
            <div class="form-group" style="text-align:center;">
                <select asp-for="IdGrupo" class="form-control" asp-items="ViewBag.IdGrupo"></select>
                <span asp-validation-for="IdGrupo" class="text-danger"></span>

                <input type="submit" value="Guardar" class="btn btn-primary" style="margin-top:5px;"/>
            </div>                                               
        </form>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
