@model CinemaX.Models.Sessao

@{
    ViewData["Title"] = "EditSession";
    Layout = "~/Views/Shared/_LayoutBackOfiice.cshtml";
}

<h1>EditSession</h1>

<h4>Sessao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSession">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFilme" class="control-label"></label>
                <select asp-for="IdFilme" class="form-control" asp-items="ViewBag.IdFilme"></select>
                <span asp-validation-for="IdFilme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSala" class="control-label"></label>
                <select asp-for="IdSala" class="form-control" asp-items="ViewBag.Numero"></select>
                <span asp-validation-for="IdSala" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdSessao" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preço" class="control-label"></label>
                <input asp-for="Preço_string" class="form-control" />
                <span asp-validation-for="Preço_string" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vagas" class="control-label"></label>
                <input asp-for="Vagas" class="form-control" />
                <span asp-validation-for="Vagas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SessionList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
