@model IEnumerable<CinemaX.Models.Sala>

@{
    ViewData["Title"] = "Salas";
    Layout = "~/Views/Shared/_LayoutBackOfiice.cshtml";
}

<div class="mydiv">
    <h1>Salas</h1>

    Capacidade da sala:
    <form asp-action="AddRoom" data-ajax="true"
          data-ajax-method="post" data-ajax-mode="replace"
          data-ajax-update="#Tabela" data-ajax-success="sucesso">
        <input id="inp" type="number" name="number" />
        <input type="submit" value="Adicionar" class="btn btn-primary" style="margin-left:5px; margin-bottom:5px;" />
    </form>

    <partial name="RoomsPartial" model="Model" />
</div>