@model IEnumerable<CinemaX.Models.Sessao>

@{
    ViewData["Title"] = "Sessões";
    Layout = "~/Views/Shared/_LayoutBackOfiice.cshtml";
}

<div class="mydiv">
    <h1> <i> <font face="Bebas Neue" color="black">GESTOR DE SESSÕES</font></i></h1>

    <p>
        <a asp-action="AddSession" class="btn btn-primary">Adicionar sessão</a>
    </p>

    <partial name="SessionListPartial" model="Model" />

</div>
