@model IEnumerable<CinemaX.Models.Perfil>

@{
    ViewData["Title"] = "Utilizadores";
    Layout = "~/Views/Shared/_LayoutBackOfiice.cshtml";
}

<div class="mydiv">
    <h1> <i> <font face="Bebas Neue" color="black">GESTOR DE UTILIZADORES</font></i></h1>

    <p>
        <a asp-action="AddUser" class="btn btn-primary">Convidar novo utilizador</a>
    </p>

    <partial name="UserPartial" model="Model" />
</div>