@{
    ViewData["Title"] = "ActivationWarning";
}

<h1>Conta criada com sucesso!</h1>
<br />
<bold>Antes de começar a utilizar a sua conta terá de a ativar usando o link que foi enviado para o seu email.</bold>
