@{
    ViewData["Title"] = "Aviso";
}

<h1> <i> <font face="Bebas Neue" color="black">CONTA CRIADA COM SUCESSO!</font></i>  </h1>
<br />
<bold>Antes de começar a utilizar a sua conta terá de a ativar usando o link que foi enviado para o seu email.</bold>
