
@{
    ViewData["Title"] = "Alterar password";
}

<div class="mydiv">
    <h1> <i> <font face="Bebas Neue" color="black">ALTERAR A PASSWORD</font></i></h1>

    <hr />

    <br />

    Se o email inserido existir na nossa base de dados irá ser enviado um email com um link para a alteração da password, enquanto não efetuar esta alteração não pudera utilizar a sua conta.

    <br />
    <br />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input name="email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Login" style="color:black;" asp-controller="Utilizadors">Voltar</a>
</div>

