@model CinemaX.Models.Utilizador

@{
    ViewData["Title"] = "Login";
}



<h1> <i> <font face="Bebas Neue" color="black">LOGIN</font></i></h1>
<hr />
<div class="row mydiv mytext-Bold">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Utilizador</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Palavra-Passe</label>
                <input asp-for="UserPassWord" class="form-control" />
                <span asp-validation-for="UserPassWord" class="text-danger"></span>
                <a asp-action="ForgotPassword" asp-controller="Utilizadors" class="mytext" style="color:black; font-size:small;">Esqueci-me da palavra-passe</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="mytext" style="color:black;">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
