@using Microsoft.AspNetCore.Http;

<ul class="navbar-nav">
    @if (Context.Session.GetString("NomeUtilizador") != null)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Utilizadors" asp-action="Perfil" asp-route-id="@Context.Session.GetInt32("IdUtilizador")">Hello @Context.Session.GetString("NomeUtilizador")!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Utilizadors" asp-action="Logout">Logout</a>
        </li>

        //asp-action="Edit" asp-route-id="@item.Id"
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Utilizadors" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Utilizadors" asp-action="Login">Login</a>
        </li>
    }
</ul>
